/*MAIN SETTINGS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

/*VARIABLES*/
:root {
    --main-violet: #261d52;
    --main-gray: #aeafaa;
}

/*NAVBAR*/
.navbar {
    font-size: 1rem;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    animation-name: header-fade;
    animation-duration: 2s;

}

.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: transparent;
    transition: all 2s ease-in-out;
  }
  
  .scroll {
    background:rgba(32, 32, 32, 0.95);
    border-bottom: 1px solid var(--main-violet);
    z-index: 9000;
  }

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
}

.hamburger {
    width: 50px;
    padding-top: 15px;
}

.main-nav {
    display: none;
    list-style-type: none;
} 

.main-nav li {
    text-align: center;
    margin: 15px auto;
    padding-right: 20px;

}

ul.main-nav.active {
    background:rgba(32, 32, 32, 1);
    min-height: 210px;
}

.main-nav li:first-child {
    margin: 0;
    padding-top: 20px;
}

.logo {
    display: none;
}

.active {
    display: block;
}

@media screen and (min-width: 760px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 9000;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .main-nav li {
        border-right: 1px solid white;
        padding: 8px 20px 8px 20px;
    }

    .main-nav li:last-child {
        border-right: none;
    }

    .logo {
        display: inline-block;
        margin: 10px 20px;
    }

    .logo-img {
        width: 80%;
    }

   .navbar-toggle {
       display: none;
    }
}

/*MODAL*/
.modal {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9001;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
}

.modal-content   {
    width: 61vw;
    display: flex;    
    justify-content: space-between;
    background: white;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 10% auto;
    padding: 20px 30px 30px;
    justify-content: space-between;
}

.modal-header {
    display: flex;
    position: fixed;
    margin: 10% 77%;
}
@media screen and (max-width: 1024px) {
    .modal-header {
        margin: 10% 71%;
    }
}

@media screen and (max-width: 760px) {
    .modal-content {
        flex-wrap: wrap;
    }
}

button.close-modal {
    position: relative;
    top: 0%;
    left: 95%;
    font-size: 2rem;
    background: none;
    border: none;
    text-transform: uppercase;
    color: var(--main-gray);
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    button.close-modal {
        left: 90%;
    }
}

.modal-text {
    flex-direction: column;
    width: 65vw;
    padding-left: 50px;
}

@media screen and (max-width: 760px) {
    .modal-text {
        padding: 0;
        text-align: center;
    }
}

.hero-modal-img {
    height: 250px;
    margin: auto 0;
}

@media screen and (max-width: 760px) {
    .hero-modal-img {
        margin: 0 auto;
    }
}

.modal-title {
    flex-direction: column;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 760px) {
    .modal-title  {
        padding-top: 20px;
    }
}

.modal-title-underline {
    transform: rotate(90deg);
    background: #beac96;
    width: 2px;
    height: 30px;
    margin: 5px 15px;
    position: absolute;    
}

@media screen and (max-width: 760px) {
    .modal-title-underline  {
        display: none;
    }
}

.modal-description {
    flex-direction: column;
    padding: 40px 20px 0 0;
    color: var(--main-gray);
    font-size: 0.8rem;
}

@media screen and (max-width: 760px) {
    .modal-description  {
        padding-top: 10px;
    }
}

.modal-price {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 10px;
    max-width: 400px;
    margin: 20px 0 20px;
    border-top: 1px dashed var(--main-gray);
    border-bottom: 1px dashed var(--main-gray);
}

button.add-item {
    background: #00aa54;
    border: none;
    text-transform: uppercase;
    padding: 10px 30px;
    color: white;
    outline: var(--main-violet);
}

button.add-item:hover {
    background: #008d47;
}

/*HEADER*/
header {
    margin-top: -100px;  
}

.header-img {
    background-size: cover;
    background-position: 70% 60%;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .header-img {
        max-width: 100vw;
        height: 60vw;
    }
}

/*BASKET*/
.basket-content {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 61vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*zmienić na flex-start, gdy wpadną herosi!!!!!!!!!!!*/
    border: 1px solid var(--main-violet);
}

.basket-title {
    padding-right: 120px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--main-violet);
}

@media screen and (max-width: 1024px) {
    .basket-title {
        padding: 0;
        border: none;
    }
}

.basket-heading {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basket-hero {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #979797;
    border-right: 1px solid var(--main-gray);
}

@media screen and (max-width: 1024px) {
    .basket-hero { 
    margin: 0 auto;
    border: none;
    padding: 10px;
    }
}

.basket-hero:last-child {
    border: none;
}

.product-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-img-basket {
    width: 140px;
    height: 174px;
}

.product-title {
    text-transform: uppercase;
    font-weight: 400;

}

.product-description {
    font-size: 0.6rem;
}

button.delete-item {
    background: #cb0a0d;
    border: none;
    text-transform: uppercase;
    padding: 8px;
    font-size: 0.7rem;
    color: white;
    outline: var(--main-violet);
}

button.delete-item:hover {
    background: #b40a0c;
}

/*HEROES SECTION*/
.hero-container {
    margin: 0 auto;
    padding-top: 50px;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero {
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.hero-img {
    width: 300px;
    position: relative;
    top: 0;
}

.hero-description {
    text-align: center;
}

/*FORM*/
.form-section {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-title {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 20px;
}
form {
    box-shadow: 0px 2px 10px rgba(32, 32, 32, 0.7);
    width: 450px;
    height: 500px;

}

.add-hero-form {
    margin: 0 auto !important;
    flex-wrap: wrap;    
    padding-left: 50px;
    justify-content: center;
}

input, textarea {
    border: none;
    border-bottom: 1px solid var(--main-gray);
    padding: 10px;
    width: 350px;
    margin: 10px;
}

button.form-button {
    border: none;
    background-color: #5f92c9;
    margin: 40px 0 0 100px;
    padding: 10px 50px;
    color: white;
}

button.form-button:hover {
    background: #4c74a0;
}

/*FOOTER*/
footer {
    background-color: var(--main-violet);
    max-width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 50px;
}
