/*HEADER*/

.header {
    margin-top: -100px;
}

.header__img {
    background-size: cover;
    background-position: 70% 60%;
    max-width: 100%;
    @media screen and (max-width: $break-md) {
        max-width: 100vw;
        height: 60vw;
    }
}